@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --main-color: rgb(127, 189, 255);
  --gradient--colour: rgb(3, 28, 55);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#000, var(--gradient--colour));
}

.warning{
  color: rgb(58, 91, 152);
  background-color: rgb(211, 228, 228);
  border-radius: 0.3rem;
  width: 100%;
}


.wrapper{
  position: relative;
  height: 650px;
  width: 400px;
  background: linear-gradient(#000, var(--gradient--colour));
  box-shadow: 0 0 50px var(--main-color);
  border-radius: 20px;
  padding: 40px;
  overflow-y: auto;
}

.logo{
  position: relative;
}

.logo img{
  position: absolute;
  top: -210px;
  left: 110px;
  transform: translateY(-50%);
}

.form-wrapper.sign-up .logo img{
  position: absolute;
  top: -270px;
  left: 110px;
  transform: translateY(-50%);
}


.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}


h2{
  font-size: 30px;
  color: rgb(255, 254, 252);
  text-align: center;
  margin-top: 80px;
}

.input-group{
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}

.input-group label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.input-group input:focus~label,
.input-group input:valid~label{
  top: -5px;
}

.input-group input{
  width: 320px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}

.remember{
  margin: -5px 0 15px 5px;
}

.remember label{
  color: #fff;
  font-size: 14px;

  
}

.remember label input{
  accent-color: var(--main-color);
}
.remember input[type="checkbox"]{
  margin-right: 3px;
}
button{
  position: relative;
  width: 100%;
  height: 40px;
  background: var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover{
  animation: animate 1s linear infinite;
}

.forgotPass{
  margin: -5px 0 15px 5px;
}

.forgotPass p a{
  font-size: 14px;
}

.signUp-link{
  text-align: center;
  font-size: 14px;
  margin: 15px 0;
}

.signUp-link p {
color: #fff;
}

.forgotPass p a,
.signUp-link p a{
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  }

.forgotPass p a:hover,
.signUp-link p a:hover{
  text-decoration: underline;
    }


@keyframes animate {
  100%{
    filter: hue-rotate(360deg);
  }
}


/*======================== Scroll bar =======================*/
::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;

}

::-webkit-scrollbar-track {
  background: var(--colour-secondary);
border: 0.4rem solid var(--colour-primary);
border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
  background-color: var(--btn-color);
  border-radius: 10px;
  border: 3px solid var(--colour-secondary);
border-radius: var(--border-radius);
}


/*======================== end Scroll bar =======================*/